.profile_page {
  &__container {
  }

  &__bar {
    background-color: black;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content--wrapper {
    padding: 32px;
    padding-top: 48px;
  }
}
